*{
    padding: 0;
    margin: 0;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 120px; 
    height: auto;
    margin-right: 10px; 
    border-radius: 5px;
}

.tagline {
    color: rgb(105, 13, 13);
    font-size: 30px; 
    font-weight: bold;
}

.buttons {
        display: flex;
        gap: 2px;
        cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.s ease;  
    margin: 40px;
}

.primary-btn {
    padding: 5px 5px;
    font-size: 1rem;
    background-color: #690d0dec;
    color: white;
    border: none;
    border-radius: 5px;

    
}


.secondary-btn {
    background-color: #690d0dfd; 
    border: none;
    border-radius: 10px;
    padding: 20px;
    font-weight: bold;
    font-size: 15px;
    color: wheat;
}
.primary-btn:hover {
    background-color: #B15C3F;  
    color: white;
    transform: scale(0.9);
}

/* Hover Effect for Secondary Button */
.secondary-btn:hover {
    background-color: #B15C3F;  
    color: white;
    transform: scale(1.1); 
}
nav {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    /* border: 5px solid ; */
    
}

.main-section {
    display: flex;  
    align-items: center;  
    justify-content: flex-start;
    background-color: rgba(245, 222, 179, 0.219);
    padding: 10px;
}

/* Image Styling */
.header-image {
    flex: 1;  
    width: 100%;
    position: relative;  
    height: 100vh;  
    overflow: hidden;
}


/* Text Styling */
.header-text {
    flex: 2;  
    padding-left: 20px;  
    margin: 20px;


}

.img{
position: absolute;
left: 700px;
height: 80vh;
margin-top: 100px;
padding-top: 100px;
width: 20%;

}

.header-text h1 {
    font-size: 60px;
    color: #333;
    padding-bottom: 50px;
    font-weight: bolder;
}

.header-text p {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 20px;
}
.input-section {
    display: block;
    padding: 5px;
    align-items: center;     
    height: 100vh;           
    text-align: center;      
    flex-direction: column;

}

.footer {
    background-color: rgba(59, 25, 25, 0.733);
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.search-container {
    display: flex;
    align-items: center;
    padding: 5px;
    width: 250px;
    height: 50px;
    margin: 10px;
    position: relative;
    transition: width 1.5s;
}

.input{
    margin-left: 20px;
    width: 100%;
    padding: 20px;
    color: #666;
    border: 2px solid;
    background: transparent;
    transition-delay: 0.5s;
}

/* ------------------ */

.cocktail-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .cocktail-card {
    width: 300px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  
  .cocktail-img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
  }
  
  .cocktail-card h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .cocktail-card p {
    font-size: 1em;
    color: #666;
  }
  